<h2>Disclaimer</h2>


Cette carte a été développée dans le cadre d’activités financées par PROMINES,
un projet de la Banque Mondiale. <br><br>
Elle a été réalisée par IPIS pour les besoins du SAESSCAM. <br><br>
Les données présentées sur cette carte ont été récoltées par le SAESSCAM. <br>
Cette carte permet de visualiser les données contenues dans la base de données du SAESSCAM. 

<br><br>
Carte de base:<br>
<a href="https://www.mapbox.com/about/maps/" target="_blank">© Mapbox © OpenStreetMap</a> <a class="mapbox-improve-map" href="https://www.mapbox.com/map-feedback/" target="_blank">Improve this map</a>
<br>
