<script id="incidentPopup" type="text/html">
    <div class="popup">
        <h3>Incident</h3>
        <table>
            <tr>
                <th>Type</th>
                <td>{{{IncidentType}}}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{{formattedDate}}}</td>
            </tr>
            <tr>
                <th>Location</th>
                <td>{{{LOCATION}}}</td>
            </tr>

            <tr>
                <th>Actor(s)</th>
                <td>{{{ACTOR1}}}
                    {{#ACTOR2}}
                    <br>{{{ACTOR2}}}
                    {{/ACTOR2}}
                </td>
            </tr>

            {{#NOTES}}
            <tr>
                <th>Notes</th>
                <td class="remarks"><div class="{{scrollable}}">{{{NOTES}}}</div></td>
            </tr>
            {{/NOTES}}
            <tr>
                <th>Source</th>
                <td class="source">{{{SOURCE}}}</td>
            </tr>
        </table>
    </div>
</script>


<script id="minesPopup" type="text/html">
    <div class="popup">
        <table class="doubleinfo" border="0">
            <tbody>
            <tr>
                <td class="col1">
                    <h3>Mine: {{name}}</h3>

                    <table class="infotable" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th>Substance(s)</th>
                            <td>{{{mineral1}}}{{#mineral2}}, {{{mineral2}}}{{/mineral2}}{{#mineral3}}, {{{mineral3}}}{{/mineral3}}{{#mineral4}}, {{{mineral4}}}{{/mineral4}}{{#mineral5}}, {{{mineral5}}}{{/mineral5}}</td>
                        </tr>
                        {{#consolidated.goldtype}}
                        <tr>
                            <th nowrap="nowrap">Traitement de l'or observé</th>
                            <td>{{{consolidated.goldtype}}}</td>
                        </tr>
                        {{/consolidated.goldtype}}
                        <tr>
                            <th>Province</th>
                            <td>{{{province}}}</td>
                        </tr>
                        <tr>
                            <th>Territoire</th>
                            <td>{{{territoire}}}</td>
                        </tr>
                        <tr>
                            <th>Collectivité</th>
                            <td>{{{collectivite}}}</td>
                        </tr>
                        <tr>
                            <th>Groupement</th>
                            <td>{{{groupement}}}</td>
                        </tr>
                        <tr>
                            <th>Village</th>
                            <td>{{{village}}}</td>
                        </tr>
                        <tr>
                            <th>Origine</th>
                            <td>{{{origin}}}</td>
                        </tr>
                        <tr>
                            <th>Source</th>
                            <td class="source">{{{source}}}</td>
                        </tr>
                        <tr>
                            <th>Code</th>
                            <td>{{{pcode}}}</td>
                        </tr>
                        <tr>
                            <th>Longitude</th>
                            <td>{{{fLongitude}}}</td>
                        </tr>
                        <tr>
                            <th class="multiline">Latitude</th>
                            <td class="multiline">{{{fLatitude}}}</td>
                        </tr>
                        <tr>
                            <th class="multiline">Date visite</th>
                            <td class="multiline">{{{consolidated.visits}}}</td>
                        </tr>
                        <tr>
                            <th class="multiline">Nombre de creuseurs</th>
                            <td class="multiline">{{{consolidated.workers}}}</td>
                        </tr>
                        <tr>
                            <th class="multiline">Nombre de puits</th>
                            <td class="multiline">{{{consolidated.pits}}}</td>
                        </tr>
                        {{#consolidated.depth}}
                        <tr>
                            <th class="multiline">Profondeur</th>
                            <td class="multiline">{{{consolidated.depth}}} m</td>
                        </tr>
                        {{/consolidated.depth}}
                        {{#consolidated.soil}}
                        <tr>
                            <th class="multiline">Sol</th>
                            <td class="multiline">{{{consolidated.soil}}}</td>
                        </tr>
                        {{/consolidated.soil}}
                        {{#consolidated.itsci_decoded}}
                        <tr>
                            <th class="multiline">iTSCi</th>
                            <td class="multiline">{{{consolidated.itsci_decoded}}}</td>
                        </tr>
                        {{/consolidated.itsci_decoded}}
                        <tr>
                            <th class="multiline">Qualification</th>
                            <td class="multiline">{{{consolidated.qualification}}}</td>
                        </tr>
                        {{#consolidated.arrete}}
                        <tr>
                            <th class="multiline">Arrêté</th>
                            <td class="multiline">{{{consolidated.arrete}}}</td>
                        </tr>
                        {{/consolidated.arrete}}
                    </table>
                </td>
                <td class="col2">
                <div class="navhorizontal">
                    <div class="buttons">
                        {{#imageUrl}}<div class="navitem small active" id="tab_images"><span>Photo</span></div><div class="navitem small" id="tab_armed_presence"><span>Présence armée</span></div><div class="navitem small" id="tab_state_service"><span>Services</span></div><div class="navitem small" id="tab_women_children"><span>Femmes et enfants</span></div><div class="navitem small" id="tab_phone_coverage"><span>Couverture téléphone</span></div>{{/imageUrl}}
                        {{^imageUrl}}<div class="navitem active" id="tab_armed_presence"><span>Présence armée</span></div><div class="navitem" id="tab_state_service"><span>Services</span></div><div class="navitem" id="tab_women_children"><span>Femmes et enfants</span></div><div class="navitem" id="tab_phone_coverage"><span>Couverture téléphone</span></div>{{/imageUrl}}
                    </div>

                </div>
                <div class="popuptab">
                    <h3></h3>
                    <div class="popuptabyears">

                    </div>
                    <div class="popuptabcontent">

                    </div>
                </div>


            </td>
            </tr></tbody></table>
    </div>
</script>

<script id="popuptab_years" type="text/html">
    <div class="yeartabs">
        {{#.}}
            <div class="tab {{#first}}active{{/first}}" onclick="POPUP.activatePopupYear(this,'{{year}}')">{{label}}</div>
        {{/.}}
        <div class="clear"></div>
    </div>
</script>


<script id="popuptab_empty" type="text/html">
    <div class="empty">
        {{defaultValue}}
    </div>
</script>

<script id="popuptab_images" type="text/html">
    <img src="images/sites/{{.}}" height="400">
</script>

<script id="popuptab_army_presence" type="text/html">
        {{#.}}
            {{^hasArmedPresence}}
             <br>&nbsp;&nbsp;&nbsp;Pas de présence armée constatée
            {{/hasArmedPresence}}
        {{/.}}
        <table class="infotable tabbed {{#.}}{{^hasArmedPresence}} hidden {{/hasArmedPresence}}{{/.}}" border="0" cellspacing="1" cellpadding="0">
            <tr>
                <th nowrap="" width="10%"></th>
                {{#.}}
                    <td class="caption">{{armed_group}}</td>
                {{/.}}
            </tr>
            <tr>
                <th nowrap="" class="right">Fréquence de présence</th>{{#.}}<td class="centered">{{frequency}}</td>{{/.}}
            </tr>
            <tr>
                <th nowrap="" class="right">Contrôle(s) exercé(s) sur site</th><td> </td>
            </tr>
            <tr><td nowrap="" class="checklistcaption">taxation</td>
                {{#.}}
                <td class="checklistitem {{#taxation}}oui{{/taxation}}"></td>
                {{/.}}
            </tr>
            <tr><td nowrap="" class="checklistcaption">achètent des minerais</td>
                {{#.}}
                <td class="checklistitem {{#buying_minerals}}oui{{/buying_minerals}}"></td>
                {{/.}}
            </tr>
            {{^isPDV}}
            <tr><td nowrap="" class="checklistcaption">travaux forcés</td>
                {{#.}}
                <td class="checklistitem {{#forced_labour}}oui{{/forced_labour}}"></td>
                {{/.}}
            </tr>
            <tr><td nowrap="" class="checklistcaption">creusent eux-mêmes</td>
                {{#.}}
                <td class="checklistitem {{#digging}}oui{{/digging}}"></td>
                {{/.}}
            </tr>
            <tr><td nowrap="" class="checklistcaption">monopole de commerce</td>
                {{#.}}
                <td class="checklistitem {{#monopoly}}oui{{/monopoly}}"></td>
                {{/.}}
            </tr>
            <tr><td nowrap="" class="checklistcaption">pillage</td>
                {{#.}}
                <td class="checklistitem {{#pillage}}oui{{/pillage}}"></td>
                {{/.}}
            </tr>
            {{/isPDV}}
        </table>
</script>


<script id="popuptab_women_children" type="text/html">
    <table class="infotable tabbed" border="0" cellspacing="1" cellpadding="0">
        <tr>
            <th nowrap="" width="10%">Femmes</th><td> </td>
        </tr>
        {{#.}}
        <tr>
            <td nowrap="" class="checklistcaption line">Présence</td>
            <td class="checklistitem {{women}}"></td>
        </tr>
        <tr>
            <td nowrap="" class="checklistcaption line">Travail de nuit</td>
            <td class="checklistitem {{womennight}}"></td>
        </tr>
        <tr>
            <td nowrap="" class="checklistcaption line">Sanitaire</td>
            <td class="checklistitem {{womensani}}"></td>
        </tr>
        <tr>
            <td nowrap="" class="checklistcaption line">Enceinte</td>
            <td class="checklistitem {{womenpregnant}}"></td>
        </tr>
        <tr>
            <td nowrap="" class="checklistcaption line">Type de travail :</td>
            <td line>{{womenwork}}</td>
        </tr>
        {{/.}}

        <tr>
            <th nowrap="" width="10%"><br>Enfants</th><td> </td>
        </tr>
        {{#.}}
        <tr>
            <td nowrap="" class="checklistcaption line">Moins de 15</td>
            <td class="checklistitem {{child15}}"></td>
        </tr>
        <tr>
            <td nowrap="" class="checklistcaption line">Entre 15 et 18</td>
            <td class="checklistitem {{child1518}}"></td>
        </tr>
        <tr>
            <td nowrap="" class="checklistcaption line">Type de travail des enfants entre 15 et 18 :</td>
            <td line>{{child1518work}}</td>
        </tr>
        {{/.}}

    </table>
</script>


<script id="popuptab_state_service" type="text/html">
    <table class="infotable tabbed padded" border="0" cellspacing="1" cellpadding="0">
        {{#.}}
        <tr>
            <td nowrap="" width="10%" class="line extrapadding"><b>{{name}}</b> {{#name_other}} ({{name_other}}){{/name_other}}</td>
            <td class="line extrapadding">
                {{frequency}}
                {{#frequency_other}} {{frequency_other}}{{/frequency_other}}
            </td>
        </tr>
        {{/.}}

    </table>
</script>

<script id="popuptab_phone_coverage" type="text/html">
    <table class="infotable tabbed padded" border="0" cellspacing="1" cellpadding="0">
        {{#.}}
        <tr>
            <td nowrap="" width="10%" class="line"><b>Disponible</b></td>
            <td class="line">
                {{available}}
            </td>
        </tr>
        {{#site}}
            <tr>
                <td nowrap="" width="10%" class="line"><b>Réseau</b></td>
                <td class="line">
                    {{site}}
                </td>
            </tr>
        {{/site}}
        {{/.}}
    </table>
</script>

<script id="minesPopupLoading" type="text/html">
    <div class="popup">
        <h3>Mine: {{name}}</h3>
        Chargement ...
    </div>
</script>

<script id="minesHoverPopup" type="text/html">
    <div class="popup">
        <h3>Site: {{name}}</h3>
        <table>
            {{#armedgroup}}
            <tr>
                <th>Présence armée constatée:</th>
                <td>{{{armedgroup}}}</td>
            </tr>
            {{/armedgroup}}
            {{^armedgroup}}
            <tr>
                <td>Pas de présence armée constatée</td>
            </tr>
            {{/armedgroup}}
        </table>
    </div>
</script>


<script id="pdvPopup" type="text/html">
    <div class="popup">
        <table class="doubleinfo" border="0">
            <tbody>
            <tr>
                <td class="col1">
                    <h3>Point de vente: {{name}}</h3>
                    <table class="infotable" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <th>Substance(s)</th>
                            <td>{{{mineral1}}}{{#mineral2}}, {{{mineral2}}}{{/mineral2}}{{#mineral3}}, {{{mineral3}}}{{/mineral3}}{{#mineral4}}, {{{mineral4}}}{{/mineral4}}{{#mineral5}}, {{{mineral5}}}{{/mineral5}}</td>
                        </tr>
                        <tr>
                            <th>Province</th>
                            <td>{{{province}}}</td>
                        </tr>
                        <tr>
                            <th>Territoire</th>
                            <td>{{{territoire}}}</td>
                        </tr>
                        <tr>
                            <th>Collectivité</th>
                            <td>{{{collectivite}}}</td>
                        </tr>
                        <tr>
                            <th>Groupement</th>
                            <td>{{{groupement}}}</td>
                        </tr>
                        <tr>
                            <th>Village</th>
                            <td>{{{village}}}</td>
                        </tr>
                        <tr>
                            <th>Origine</th>
                            <td>{{{origin}}}</td>
                        </tr>
                        <tr>
                            <th>Source</th>
                            <td class="source">{{{source}}}</td>
                        </tr>
                        <tr>
                            <th>Code</th>
                            <td class="source">{{{pcode}}}</td>
                        </tr>
                        <tr>
                            <th>Longitude</th>
                            <td class="source">{{{fLongitude}}}</td>
                        </tr>
                        <tr>
                            <th>Latitude</th>
                            <td class="source">{{{fLatitude}}}</td>
                        </tr>
                        {{#consolidated.visits}}
                        <tr>
                            <th class="multiline">Date visite</th>
                            <td class="multiline">{{{consolidated.visits}}}</td>
                        </tr>
                        {{/consolidated.visits}}
                        <tr>
                            <th></th>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </td>
                <td class="col2">
                    <div class="navhorizontal">
                        <div class="buttons">
                            <div class="navitem active" id="tab_armed_presence"><span>Présence armée</span></div><div class="navitem" id="tab_state_service"><span>Services</span></div>
                        </div>
                    </div>
                    <div class="popuptab">
                        <h3></h3>
                        <div class="popuptabyears">

                        </div>
                        <div class="popuptabcontent">

                        </div>
                    </div>
                </td>


            </tr></tbody></table>
    </div>
</script>

<script id="pdvPopupLoading" type="text/html">
    <div class="popup">
        <h3>Point de vente: {{name}}</h3>
        Chargement ...
    </div>
</script>

<script id="pdvHoverPopup" type="text/html">
    <div class="popup">
        <h3>Point de vente: {{name}}</h3>
        <table>
            {{#armedgroup}}
            <tr>
                <th>Présence armée constatée:</th>
                <td>{{{armedgroup}}}</td>
            </tr>
            {{/armedgroup}}
            {{^armedgroup}}
            <tr>
                <td>Pas de présence armée constatée</td>
            </tr>
            {{/armedgroup}}
        </table>
    </div>
</script>

<script id="armedGroupPopup" type="text/html">
    <div class="popup">
        <h3>Groupe armé</h3>
        {{Groupe armé}}
    </div>
</script>

<script id="concessionPopup" type="text/html">
    <div class="popup">
        <h3>Titre minier</h3>
        <table>
            <tr>
                <th>Code</th>
                <td>{{{name}}}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{{fType}}}</td>
            </tr>
            <tr>
                <th>Parties</th>
                <td>{{{parties}}}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{{type}}}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{{statut}}}</td>
            </tr>
            <tr>
                <th nowrap="nowrap">Date d'expiration&nbsp;</th>
                <td>{{{date_de1}}}</td>
            </tr>
        </table>
    </div>
</script>
<script id="protectedAreaPopup" type="text/html">
    <div class="popup">
        <h3>Aire protégée</h3>
        <table>
            <tr>
                <th>Nom</th>
                <td>{{{name}}}</td>
            </tr>
            <tr>
                <th>Source</th>
                <td>{{{source}}}</td>
            </tr>
        </table>
    </div>
</script>













